<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre o Projeto MaisUm</title>
</head>
<body>
    <header>
        <h1>Sobre o Projeto MaisUm</h1>
    </header>
    <section class="descricao">
        <p>
            O MaisUm é uma plataforma de gestão de atividades físicas e alimentação, projetada para ajudar usuários a monitorar e melhorar seus hábitos de saúde e bem-estar. A ideia surgiu da necessidade crescente de controlar não apenas as atividades físicas, mas também a alimentação, de forma integrada e acessível.
        </p>
        <p>
            O projeto tem como objetivo facilitar o acompanhamento de metas pessoais de saúde, proporcionando uma interface amigável e ferramentas simples para o registro e monitoramento de atividades e refeições diárias.
        </p>
    </section>

    <section class="funcionalidades">
        <h2>Funcionalidades</h2>
        <h3>Registro de Atividades Físicas</h3>
        <ul>
            <li>Permite que o usuário registre diferentes tipos de atividades físicas, como corrida, caminhada e musculação.</li>
            <li>Inserir a duração das atividades e calcular as calorias gastas, proporcionando uma visão precisa do consumo energético diário.</li>
        </ul>

        <h3>Registro de Alimentação</h3>
        <ul>
            <li>Registrar refeições diárias com o nome dos alimentos consumidos e as calorias de cada refeição.</li>
            <li>Comparar a ingestão calórica com as atividades físicas realizadas.</li>
        </ul>

        <h3>Acompanhamento de Progresso</h3>
        <ul>
            <li>Permitir inserir o peso atual e compará-lo com a meta de peso estabelecida pelo usuário.</li>
            <li>Visualizar o progresso ao longo do tempo e ajustar atividades e alimentação conforme necessário.</li>
        </ul>

        <h3>Visualização de Dados</h3>
        <ul>
            <li>Dados claros e acessíveis em tabelas, mostrando atividades realizadas, refeições e calorias consumidas.</li>
            <li>Visão completa dos hábitos e desempenho ao longo do tempo.</li>
        </ul>
    </section>

    <section class="tecnologias">
        <h2>Tecnologias Utilizadas</h2>
        <ul>
            <li><strong>Backend:</strong> ASP.NET Web API para robustez e escalabilidade.</li>
            <li><strong>Frontend:</strong> HTML, CSS, JavaScript e Angular para uma interface interativa e responsiva.</li>
            <li><strong>Banco de Dados:</strong> SQL Server para gerenciar os dados dos usuários.</li>
            <li><strong>Testes:</strong> Testes unitários com xUnit, garantindo a qualidade e confiabilidade do projeto.</li>
        </ul>
    </section>

</body>
</html>