/* Estilos gerais para as duas páginas */
.container {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

header {
  background-color: #dd4fb7;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="text"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: #dd4fb7;
  outline: none;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #dd4fb7;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #dd4fb7;
}

.mensagem-sucesso {
  margin-top: 20px;
  padding: 10px;
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
  border-radius: 4px;
  text-align: center;
}

.formulario {
  max-width: 600px;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.atividades-cadastradas {
  margin-top: 40px;
}

.atividades-cadastradas ul {
  padding-left: 0;
}

.atividades-cadastradas li {
  max-width: 600px;
  margin: auto;
  background-color: #f4f4f4;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 4px;
  border-left: 5px solid #dd4fb7;
}

.atividades-cadastradas h2 {
  color: #333;
  margin-bottom: 15px;
}

/* Responsividade */
@media (max-width: 768px) {
  .formulario, section {
    padding: 15px;
  }
  
  button {
    font-size: 14px;
  }

.atividade-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}
.atividade-info {
    flex-grow: 1;
}

.atividade-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
}
.atividade-buttons button:hover {
    color: #007bff;
}
}