<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
</head>
<body>
<div class="contato-container">
  <div class="perfil">
      <img src="https://avatars.githubusercontent.com/u/49570180?v=4" alt="Ana Carolina" class="foto">
      <h1>Ana Carolina</h1>
  </div>
  <div class="links">
      <h2>Redes Sociais</h2>
      <ul>
          <li><a href="https://www.linkedin.com/in/ana-carolina-rodrigues-495a61160/" target="_blank">LinkedIn</a></li>
          <li><a href="https://github.com/AnaCarolinaRodriguesLeite?tab=repositories" target="_blank">GitHub</a></li>
      </ul>
  </div>
</div>
</body>