<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../app/app.component.css" />
    <title>MaisUm</title>
  </head>
  <body>
    <nav>
      <div class="logo">
        <a> MaisUm </a>
      </div>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="#" (click)="goAtividades()">Sobre</a></li>
        <li><a href="#" (click)="goToServicos()">Serviços</a></li>
        <li><a href="#" (click)="goToContato()">Contato</a></li>
      </ul>
    </nav>    
    <router-outlet></router-outlet>
    <section class="banner">
      <div class="texto">
        <h1 class="titulo">Entre no Ritmo</h1>
        <div class="botoes">
          <button (click)="goToLogin()" class="overlay">Entrar</button>
        </div>
      </div>
    </section>
  </body>
</html>
