<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
</head>
<body>
    <header>
        <h1>Cadastro de Atividade</h1>
    </header>

    <section class="formulario">
        <form>
            <div class="form-group">
                <label for="descricao">Descrição</label>
                <input
                    type="text"
                    id="descricao"
                    class="form-control"
                    [(ngModel)]="newAtividade.Nome" name="Nome"
                    placeholder="Informe a descrição"
                    required
                />
            </div>

            <div class="form-group">
                <label for="duracao">Duração (minutos)</label>
                <input
                    type="number"
                    id="duracao"
                    class="form-control"
                    [(ngModel)]="newAtividade.DuracaoMinutos" name="DuracaoMinutos"
                    placeholder="Informe a duração"
                    required
                />
            </div>

            <div class="form-group">
                <label for="data">Data</label>
                <input
                    type="date"
                    id="data"
                    class="form-control"
                    [(ngModel)]="newAtividade.Data" name="Data"
                    required
                />
            </div>

            <button type="button" class="btn btn-primary" (click)="editingIndex === null ? addAtividade() : updateAtividade()">
                {{ editingIndex === null ? 'Salvar' : 'Atualizar' }}
            </button>
        </form>
    </section>

    <section class="atividades-cadastradas">
        <h2>Atividades Cadastradas</h2>
        <ul>
            <li *ngFor="let atv of atividades || []; let i = index">
                {{ atv.Nome }} - {{ atv.DuracaoMinutos }} min - {{ atv.Data | date:'dd/MM/yyyy' }}
                <span class="atividade-buttons">
                    <button type="button" class="atividade-buttons" style="width: 45px; margin-left: 230px; margin-right: 5px; " class="btn btn-link p-0" (click)="editAtividade(i)">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button type="button" class="atividade-buttons" class="btn btn-link p-0" style="width: 45px; margin-left: 200px; " (click)="deleteAtividade(i)">
                        <i class="fas fa-trash"></i>
                    </button>
                </span>
            </li>
        </ul>
    </section>
</body>
</html>

